<%- include("partials/header"); -%>

<section id="aboutpage">
  <div class="aboutpage container col-lg-7">
    <h2>About Us</h2>
    <h1>We're on a mission to help elevate the creative goals of distinctive businesses, organizations and institutions who are making an impact in our communities. </h1>
    <h1>Proceeds from our projects are funding education initiatives for the world's most vulnerable children.</h1>
  </div>
</section>

<section id="footer">
  <div class="foot"><p class="social-media">
    <i class="lni lni-facebook-oval"></i>  <i class="lni lni-instagram-original"></i>  <i class="lni lni-twitter-original"> </i>  <i class="lni lni-github-original"></i>
  </p><br>
<div class="newsletter">
  <h4>Sign up to our newsletter!!!</h4>
  <input type="email" name="newsletter" placeholder="type your email address...">
  <button type="submit" name="mailbutton"><i class="lni lni-arrow-right-circle"></i></button>
</div>
    <br><div class="small"><p>
      ©COPYRIGHT 2022
    </p> </div><div class="span">BOOKZ by Verzeo</div></div>
</section>
<%- include("partials/footer"); -%>
<%- include("partials/footer"); -%>
