<%- include("partials/header"); -%>

<section id="contactus">
  <div class="container col-lg-9">
    <h1>You can contact us via the following links </h1>
    <h4><em><i class="lni lni-facebook-filled"></i> -> www.facebook.com/booksbyverzeo</em></h4>
    <h4><em><i class="lni lni-instagram-original"></i> -> www.instagram.com/booksbyverzeo</em></h4>
    <h4><em><i class="lni lni-twitter-original"></i> -> www.twitter.com/booksbyverzeo</em></h4>
  </div>
</section>

<section id="contactus1">
  <div class="newsletter container col-lg-9">
    <h1>Sign up to our newsletter here!!!</h1>
    <input type="email" name="newsletter" placeholder="type your email address...">
    <button type="submit" name="mailbutton"><i class="lni lni-arrow-right-circle"></i></button>
  </div>
</section>

<section id="footer">
  <div class="foot"><p class="social-media">
    <i class="lni lni-facebook-oval"></i>  <i class="lni lni-instagram-original"></i>  <i class="lni lni-twitter-original"></i>  <i class="lni lni-github-original"></i>
  </p><br>
    <br><div class="small"><p>
      ©COPYRIGHT 2022
    </p> </div><div class="span">BOOKZ by Verzeo</div></div>
</section>
<%- include("partials/footer"); -%>
<%- include("partials/footer"); -%>
