<%- include("partials/header"); -%>
<section id="home1">
  <div class="home1 container col-lg-7">
    <h1>Great Recommendations of Productivity books by Professionals.</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/carousel4.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/carousel1.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/carousel2.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/carousel3.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/carousel6.jpg" class="d-block w-100" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section id="home2">
  <div class="container col-lg-12">
    <div class="image1">
      <h2>1. Essentialism: The Disciplined Pursuit of Less by Greg McKeown</h2>
      <img src="/images/ess.jpg" alt="">
      <p>
        <em>Essentialism is a book for the person feeling frazzled by having too much to do and not enough time. The Amazon description sums this approach up nicely: “Essentialism is not a time management strategy or a productivity technique. It is a systematic discipline for discerning what is absolutely essential, then eliminating everything that is not, so we can make the highest possible contribution towards the things that really matter.”</em>
      </p>
    </div>
    <div class="image1">
      <h2>2. The 7 Habits of Highly Effective People by Stephen Covey</h2>
      <p>
        <em>This book was originally published back in 1989 and has sold more than 25 million copies since its release. Its focus is an approach that pivots on aligning with your “character ethic”, which happens by forming a series of seven habits. These habits allow the reader to move from dependence to interdependence for maximum effectiveness in life. It’s a good high-level productivity read if you’re more into long-term behavior modification rather than quick hacks and tricks.</em>
      </p>
      <img src="/images/7habits.jpg" alt="">
    </div>
    <div class="image1">
      <h2>3. Scrum: The Art of Doing Twice the Work in Half the Time by Jeff Sutherland</h2>
      <img src="/images/art.jpg" alt="">
      <p>
        <em>You may have heard of the term “scrum” in the management world–it’s based on the rugby formation in which the entire team locks its arms to gain control of the ball. In the business environment, this term (and the idea behind it) is all about spotting what is wrong with the way we currently do work. The author of this book coined the term, and shares his (sometimes blunt) ideas on how to eliminate it from your workday for maximum productivity.</em>
      </p>
    </div>
    <div class="image1">
      <h2>4. How to be a Productivity Ninja: Worry Less, Achieve More and Love What You Do by Graham Allcott</h2>
      <p>
        <em>Written by one of the UK’s foremost productivity experts, this book is all about making the most of your attention, beating procrastination, and learning to work smarter–not harder. By reading it, you’ll gain tactics for guarding your time (and will teach you how to be ruthless, if needed) as well as insights into how to stay calm and work with a clear mind.</em>
      </p>
      <img src="/images/ninja.jpg" alt="">
    </div>
    <div class="image1">
      <h2>5. Free to Focus by Michael Hyatt</h2>
      <img src="/images/free.jpg" alt="">
      <p>
        <em>More than 25,000 professionals use the ideas outlined in this book to have more productive workdays. It teaches you how to: Filter your tasks and commitments, cut out the nonessentials, eliminate interruptions and distractions, and set boundaries that protect your focus and drive results. If you want a simple, no-nonsense approach to productivity with only three steps, this is the right book for you.</em>
      </p>
    </div>
  </div>

</section>

<section id="footer">
  <div class="foot"><p class="social-media">
    <i class="lni lni-facebook-oval"></i>  <i class="lni lni-instagram-original"></i>  <i class="lni lni-twitter-original"></i>  <i class="lni lni-github-original"></i>
  </p><br>
<div class="newsletter">
  <h4>Sign up to our newsletter!!!</h4>
  <input type="email" name="newsletter" placeholder="type your email address...">
  <button type="submit" name="mailbutton"><i class="lni lni-arrow-right-circle"></i></button>
</div>
    <br><div class="small"><p>
      ©COPYRIGHT 2022
    </p> </div><div class="span">BOOKZ by Verzeo</div></div>
</section>
<%- include("partials/footer"); -%>
