<%- include("partials/header"); -%>

<section id="services-page">
  <div class="container col-lg-7">
    <h1>Services We Provide</h1>
    <h2>We bring the great minds together and suggests the best books we can to improve your business.</h2>
    <h2>Books related to the following skills:</h2>
    <ul>
      <li>
        <h3>Financial Management.</h3>
      </li>
      <li>
        <h3>Marketing, sales and customer services.</h3>
      </li>
      <li>
        <h3>Communication and Negotiation.</h3>
      </li>
      <li>
        <h3>Leadership.</h3>
      </li>
      <li>
        <h3>Project Management and Planning.</h3>
      </li>
      <li>
        <h3>Delegation and Time Management</h3>
      </li>
      <li>
        <h3>Problem Solving.</h3>
      </li>
      <li>
        <h3>Management.</h3>
      </li>
    </ul>
  </div>
</section>

<section id="accordion">
  <h1>Why our service?</h1>
  <p>Companies tend to have trusted advisors who may have relations around the world. Although it may take only a few seconds to google parties that can offer the required assistance, we can be of added value because :<br>
  ->Bookz is managed by professionals who are actively engaged in everyday client service.<br>
  ->Bookz is independent and is happy to work with any party brought forward by its clients. If needed, we can recommend advisors from our own network.<br>
  ->Bookz does not seek to sell as many services as possible. Our goal is to provide the set of services needed at a given moment in time. No more, no less.<br>
  ->Bookz is accustomed to working for clients located in different time zones and is available when they need assistance.<br>
</p>

  <h1>Why we chose books?</h1>
  <p>Business books give first-hand experience of how someone else overcame the same challenges you are going through. They can teach tricks and spark ideas. They can show new ways of living or thinking, bring a fresh perspective or some much-needed motivation.

They stop you going down a rabbit hole of making all your own mistakes and learning what to do from scratch. Instead, you can learn from other people’s mistakes. You can spot the warning signs they missed and pivot before it’s too late. You can apply their tried-and-tested growth strategies without wondering if they are worth your time. You can have a direct line to their voice; an ally or mentor, right in your hands.</p>
</section>

<section id="footer">
  <div class="foot">
    <p class="social-media">
      <i class="lni lni-facebook-oval"></i> <i class="lni lni-instagram-original"></i> <i class="lni lni-twitter-original"></i> <i class="lni lni-github-original"></i>
    </p><br>
    <div class="newsletter">
      <h4>Sign up to our newsletter!!!</h4>
      <input type="email" name="newsletter" placeholder="type your email address...">
      <button type="submit" name="mailbutton"><i class="lni lni-arrow-right-circle"></i></button>
    </div>
    <br>
    <div class="small">
      <p>
        ©COPYRIGHT 2022
      </p>
    </div>
    <div class="span">BOOKZ by Verzeo</div>
  </div>
</section>
<%- include("partials/footer"); -%>
<%- include("partials/footer"); -%>
